
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS=dAIPV8PymLzQSndaJ2XvfA==,356bs6on7BwryINkRwjCHQ==,KLglz1kKrY9KJk6NEEd8Yw==,n1vFw/F/74PG5JfbN/CYHQ==
API_TOKEN_SALT=VyBs6u/lz7pHd3/clZ7hoQ==
ADMIN_JWT_SECRET=hBq5iPHza2fPCTOqNRq9rg==
TRANSFER_TOKEN_SALT=BdcDmRhbUMlgWwbgWlVTDA==
ENCRYPTION_KEY=hX5GaGSd1JIEpQZBknixSQ==

# Database
DATABASE_CLIENT=sqlite
DATABASE_HOST=localhost
DATABASE_PORT=5431
DATABASE_NAME=mejlis_db
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres
DATABASE_SSL=false
DATABASE_FILENAME=.tmp/data.db
JWT_SECRET=Vnxc9YnJoL8SjoiITPdPsg==
CORS_ORIGIN=http://localhost:3000,http://localhost:1337,http://192.168.1.3:3000

# Payment (test mode)
FRONTEND_URL=http://localhost:3000
PAYMENT_SUCCESS_URL=http://localhost:3000/donate?payment=success
PAYMENT_CANCEL_URL=http://localhost:3000/donate?payment=cancelled
PAYMENT_CALLBACK_URL=http://localhost:3000/donate?payment=success
# Stripe test mode (server-only key)
STRIPE_SECRET_KEY=sk_test_51T1OofQsqL1kwm2hgNhvxsmkVBqRD7KQIGI6A3yX4YUyw8oYXjkz86Mr2fxYNGK2Rp5VynHwOnyIQTxSZxcyXCS00054Wf4tok

# Chapa test mode (server-only key)
CHAPA_SECRET_KEY=CHASECK-P8r5jneU6DzlFOwh5alhGl9RHo673Wbb

